body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/049/855/296/small_2x/nature-background-high-resolution-wallpaper-for-a-serene-and-stunning-view-photo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.quote-box {
    padding: 20px;
    border-radius: 10px;

    display: inline-block;
}
button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: darkblue;
}
#author {
font-style: italic;
color: red;
margin-bottom: 15px; 
}
